---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="/meta.webp"
    />
  </head>
  <body class="text-stone-800">
    <Header />
    <main class="pt-5 pb-10">
      <section class="px-5 md:flex md:flex-col md:items-center">
        <ul class="max-w-screen-md grid md:grid-cols-2 gap-x-20 gap-y-8">
          {
            posts.map((post) => (
              <li class="hover:underline">
                <a href={`/blog/${post.slug}/`}>
                  <img
                    class="h-60 w-full border-2 border-stone-800 rounded-md"
                    src={post.data.heroImage}
                    alt={post.data.altHeroImage}
                  />
                  <h2 class={"font-semibold leading-tight mt-2"}>
                    {post.data.title}
                  </h2>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="px-5 pt-5 md:flex md:flex-col md:items-center">
        <div class="max-w-lg">
          <hr />

          <div class="mt-8 flex flex-row items-center justify-center">
            <img
              class="w-40 rounded-md border-2 border-stone-800 mr-2"
              src="/profile.webp"
            />
          </div>

          <p class="pt-5">
            Hiya! I'm Mihail. I share 3 new case studies in my newsletter every
            week.
          </p>

          <script
            async
            src="https://eomail6.com/form/05ea1b56-d0ba-11ee-9094-2f97f7a66a9d.js"
            data-form="05ea1b56-d0ba-11ee-9094-2f97f7a66a9d"></script>
        </div>
      </section>

      <script>
        window.onload = function () {
          setTimeout(function () {
            document.getElementById("popup")?.classList.remove("hidden");
          }, 5000);
        };

        document
          .getElementById("closePopupButton")
          ?.addEventListener("click", () => {
            document.getElementById("popup")?.classList.add("hidden");
          });
      </script>

      <div
        id="popup"
        role="dialog"
        aria-modal="true"
        aria-labelledby="Subscribe to the newsletter"
        aria-describedby="I spend 4 hours every week preparing 3 awesome content examples that you can read in 10 mins."
        class="hidden fixed z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4"
      >
        <div
          class="relative top-20 mx-auto shadow-xl rounded-md bg-white max-w-md"
        >
          <div class="flex justify-end p-2">
            <button
              id="closePopupButton"
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>

          <div class="p-6 pt-0">
            <div class="flex flex-col items-center">
              <img
                src="/popup.webp"
                class="h-28 border-2 border-stone-800 rounded-md"
              />
            </div>

            <h3 class="text-[1.15rem] leading-tight mt-5 mb-6">
              Oi, you! Check out my newsletter! I spend 4 hours every week
              preparing 3 awesome content examples that you can read in 10 mins.
            </h3>
            <script
              async
              src="https://eomail6.com/form/05ea1b56-d0ba-11ee-9094-2f97f7a66a9d.js"
              data-form="05ea1b56-d0ba-11ee-9094-2f97f7a66a9d"></script>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
