---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image={"/meta.webp"}
    />
  </head>
  <body>
    <Header />
    <main class="py-10">
      <section class="md:mx-auto md:flex md:flex-col md:items-center px-5">
        <ul class="max-w-sm">
          {
            posts.map((post, index) => (
              <li class={posts.length - 1 == index ? "" : "mb-10"}>
                <a
                  class="text-black hover:text-blue-600"
                  href={`/blog/${post.slug}/`}
                >
                  <img src={post.data.heroImage} alt={post.data.altHeroImage} />
                  <h2 class={"font-semibold leading-none mt-2"}>
                    {post.data.title}
                  </h2>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
