---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="/meta.webp"
    />
  </head>
  <body class="text-stone-800">
    <Header />
    <main class="pt-5 pb-10">
      <section class="px-5 md:flex md:flex-col md:items-center">
        <ul class="max-w-screen-md grid md:grid-cols-2 gap-x-20 gap-y-8">
          {
            posts.map((post) => (
              <li class="hover:underline">
                <a href={`/blog/${post.slug}/`}>
                  <img
                    class="h-60 w-full border-2 border-stone-800 rounded-md"
                    src={post.data.heroImage}
                    alt={post.data.altHeroImage}
                  />
                  <h2 class={"font-semibold leading-tight mt-2"}>
                    {post.data.title}
                  </h2>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="px-5 pt-14 md:flex md:flex-col md:items-center">
        <div class="max-w-lg">
          <hr />

          <p class="pt-5">
            Like these posts? I write 3 new case studies every week in my
            newsletter.
          </p>

          <script
            async
            src="https://eomail6.com/form/05ea1b56-d0ba-11ee-9094-2f97f7a66a9d.js"
            data-form="05ea1b56-d0ba-11ee-9094-2f97f7a66a9d"></script>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
