---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage, altHeroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body>
    <Header />
    <main class="py-10 md:mx-auto md:flex md:flex-col md:items-center">
      <article class="px-5 max-w-lg">
        <div>
          <div>
            <img src={heroImage} alt={altHeroImage} />
          </div>
          <h1
            class="font-bold text-[1.5rem] md:text-[2rem] leading-none md:text-center mt-5"
          >
            {title}
          </h1>
        </div>

        <div class="py-5">
          <hr />
        </div>

        <slot />
      </article>
      <section class="max-w-lg px-5">
        <hr />

        <p class="pt-5">
          Enjoyed this post? Subscribe to the newsletter for updates on new
          content (once a week max).
        </p>
        {
          import.meta.env.PROD && (
            <script
              async
              src="https://eomail6.com/form/05ea1b56-d0ba-11ee-9094-2f97f7a66a9d.js"
              data-form="05ea1b56-d0ba-11ee-9094-2f97f7a66a9d"
            />
          )
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
