---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, altHeroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          <img width={1020} height={510} src={heroImage} alt={altHeroImage} />
        </div>
        <div class="py-5">
          <div class="md:text-center">
            <FormattedDate date={pubDate} />
          </div>
          <h1
            class="text-[1.75rem] font-bold md:text-[2.5rem] md:text-center leading-tight"
          >
            {title}
          </h1>
          <hr />
        </div>
        <slot />
      </article>
      <section>
        <hr />
        <p class="pt-5">
          Enjoyed this post? Subscribe to the newsletter for updates on new
          content (once a week max).
        </p>
        <script
          async
          src="https://eocampaign1.com/form/a0d5dc16-ce64-11ee-b913-cf19d2e93c15.js"
          data-form="a0d5dc16-ce64-11ee-b913-cf19d2e93c15"></script>
      </section>
    </main>
    <Footer />
  </body>
</html>
