---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage, altHeroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body class="text-stone-800">
    <Header />
    <main class="pt-5 pb-10 md:mx-auto md:flex md:flex-col md:items-center">
      <article class="px-5 max-w-lg">
        <div>
          <div>
            <img
              src={heroImage}
              alt={altHeroImage}
              class="border-2 border-stone-800 rounded-md"
            />
          </div>
          <h1
            class="font-bold text-[1.5rem] md:text-[2rem] leading-none md:text-center mt-5"
          >
            {title}
          </h1>
        </div>

        <div class="py-5">
          <hr />
        </div>

        <slot />
      </article>
      <section class="max-w-lg px-5">
        <hr />

        <div class="mt-8 flex flex-row items-center justify-center">
          <img
            class="w-40 rounded-md border-2 border-stone-800 mr-2"
            src="/profile.webp"
          />
        </div>

        <p class="pt-5">
          Hiya! I'm Mihail. I share 3 new content tips in my newsletter every
          week.
        </p>

        <script
          async
          src="https://eomail6.com/form/05ea1b56-d0ba-11ee-9094-2f97f7a66a9d.js"
          data-form="05ea1b56-d0ba-11ee-9094-2f97f7a66a9d"></script>
      </section>
    </main>
    <Footer />
  </body>
</html>
